In [2]:
import pandas as pd

In [5]:
file_path = r'C:\Users\Usuario\Documents\Ironhack\Week4\hp_project\first_project\data\raw\Population_Berlin.csv'

In [6]:
df = pd.read_csv(file_path, encoding='latin-1') # UTF-8 not accepted (probably Umlaut issue) - will proceed to clean data and convert / export into a new file under utf-8

print(f"loaded data from: {file_path}")

loaded data from: C:\Users\Usuario\Documents\Ironhack\Week4\hp_project\first_project\data\raw\Population_Berlin.csv

In [7]:
df

,Postleitzah,Bezirk,Ins-\ngesamt,unter 6,6 - 15,15 - 18,18 - 27,27 - 45,45 - 55,55 - 65,65 und\nmehr,Darunter\nweiblich
0,10115,Mitte,26274,1754,2051,473,2461,11595,4253,2041,1646,12818
1,10117,Mitte,15531,782,881,250,1558,5346,2342,1854,2518,7489
2,10119,Mitte,15064,1014,1087,213,1319,6650,2543,1158,1080,7489
3,10119,Pankow,4606,336,426,118,423,1753,991,349,210,2258
4,10178,Mitte,14385,692,714,203,1588,5100,1856,1473,2759,6953
...,...,...,...,...,...,...,...,...,...,...,...,...
213,14195,Steglitz-Zehlend.,15530,790,1581,576,1439,2745,2577,1917,3905,8086
214,14197,Charlbg.-Wilmersd.,17931,788,1102,371,1395,3572,2891,2728,5084,9698
215,14197,Tempelh.-Schneb.,1348,78,73,21,201,329,209,189,248,717
216,14199,Charlbg.-Wilmersd.,15369,681,1157,362,1204,3056,2364,1975,4570,8303
217,14199,Steglitz-Zehlend.,43,0,0,0,6,18,3,7,9,19

In [8]:
list(df['Bezirk'].unique()) # Found the problem with the enconding and as expected it was the umlaut

['Mitte',
 'Pankow',
 'Friedrichsh.-Kreuzb.',
 'Lichtenberg',
 'Charlbg.-Wilmersd.',
 'Tempelh.-Sch\x9aneb.',
 'Neuk\x9alln',
 'Steglitz-Zehlend.',
 'Treptow-K\x9apenick',
 'Marzahn-Hellersd.',
 'Reinickendorf',
 'Spandau']

In [9]:
# Data cleaning 
# 1. Translating column names from german to english

eng_columns_names = [
    'postal_code',
    'district',
    'total',
    'age_under_6',
    'age_6_to_15',
    'age_15_to_18',
    'age_18_to_27',
    'age_27_to_45',
    'age_45_to_55',
    'age_55_to_65',
    'age_65_plus',
    'female_total'
]

df.columns = eng_columns_names

list(df.columns)

['postal_code',
 'district',
 'total',
 'age_under_6',
 'age_6_to_15',
 'age_15_to_18',
 'age_18_to_27',
 'age_27_to_45',
 'age_45_to_55',
 'age_55_to_65',
 'age_65_plus',
 'female_total']

In [11]:
# 2. replacing district names umlaut with "ae, oe and ue" and removing abbreviations 

district_names = {
    'Sch\x9aneb.': 'Schoeneberg',
    'Neuk\x9alln': 'Neukoelln',
    'Treptow-K\x9apenick': 'Treptow-Koepenick',
    'Charlbg.-Wilmersd.': 'Charlottenburg-Wilmersdorf',
    'Friedrichsh.-Kreuzb.': 'Friedrichshain-Kreuzberg',
    'Tempelh.-Sch\x9aneb.': 'Tempelhof-Schoeneberg',
    'Steglitz-Zehlend.': 'Steglitz-Zehlendorf',
    'Marzahn-Hellersd.': 'Marzahn-Hellersdorf'
}

# applying new names 
df['district'] = (df['district'].astype(str).replace(district_names, regex=False))

list(df['district'].unique())

['Mitte',
 'Pankow',
 'Friedrichshain-Kreuzberg',
 'Lichtenberg',
 'Charlottenburg-Wilmersdorf',
 'Tempelhof-Schoeneberg',
 'Neukoelln',
 'Steglitz-Zehlendorf',
 'Treptow-Koepenick',
 'Marzahn-Hellersdorf',
 'Reinickendorf',
 'Spandau']

In [10]:
# 3. Checking duplicates

df.duplicated().sum()

np.int64(0)

In [12]:
# 4. exporting new csv file with utf-8 enconding

population_berlin_clean = r'C:\Users\Usuario\Documents\Ironhack\Week4\hp_project\first_project\data\clean\population_berlin_clean.csv'

df.to_csv(population_berlin_clean, index=False, encoding='utf-8')

print(f"CSV saved as UTF-8 at: {population_berlin_clean}")

CSV saved as UTF-8 at: C:\Users\Usuario\Documents\Ironhack\Week4\hp_project\first_project\data\clean\population_berlin_clean.csv