In [1]:
import pandas as pd
import re

df = pd.read_csv("../data/raw/Berlin_crimes.csv")  

df.head()

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,10114,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403

In [2]:
df.columns

Index(['Year', 'District', 'Code', 'Location', 'Robbery', 'Street_robbery',
       'Injury', 'Agg_assault', 'Threat', 'Theft', 'Car', 'From_car', 'Bike',
       'Burglary', 'Fire', 'Arson', 'Damage', 'Graffiti', 'Drugs', 'Local'],
      dtype='object')

In [3]:
df.info

<bound method DataFrame.info of       Year       District    Code                                Location  \
0     2012          Mitte   10111                          Tiergarten Süd
1     2012          Mitte   10112                       Regierungsviertel
2     2012          Mitte   10113                          Alexanderplatz
3     2012          Mitte   10114                       Brunnenstraße Süd
4     2012          Mitte   10221                             Moabit West
...    ...            ...     ...                                     ...
1195  2019  Reinickendorf  123012  Nord 2 - Waidmannslust/Wittenau/Lübars
1196  2019  Reinickendorf  123021               MV 1 - Märkisches Viertel
1197  2019  Reinickendorf  123022                 MV 2 - Rollbergsiedlung
1198  2019  Reinickendorf  123043      West 3 - Borsigwalde/Freie Scholle
1199  2019  Reinickendorf  129900           Bezirk (Rd), nicht zuzuordnen

      Robbery  Street_robbery  Injury  Agg_assault  Threat  Theft  Car  \
0          70              46     586          194     118   2263   18
1          65              29     474          123     142   3203   10
2         242             136    1541          454     304   8988   81
3          52              25     254           60      66   1916   86
4         130              51     629          185     199   2470   94
...       ...             ...     ...          ...     ...    ...  ...
1195       34              19     372           85     123   1160   30
1196       42              22     491          123     187   1100   51
1197        6               4      84           19      34    293   13
1198        8               4      95           18      43    492   21
1199        3               2      14            7       4     59    0

      From_car  Bike  Burglary  Fire  Arson  Damage  Graffiti  Drugs  Local
0          328   120        68    16      4     273        26    171   1032
1          307   170        37    10      4     380       124     98    870
2          792   822       275    49     27    1538       522    435   3108
3          192   396       131    14      5     428       122    213    752
4          410   325       161    42     22     516        64    259   1403
...        ...   ...       ...   ...    ...     ...       ...    ...    ...
1195       135   150        93    16      3     306        74    110    728
1196       224    76        40    39     19     286        11     73    986
1197        36    18        34     5      2     156        56     21    212
1198        96    69        38     6      1      79         8     31    218
1199         7    15         0     1      0       7         3      9     21

[1200 rows x 20 columns]>

In [4]:
df.isnull().sum()

Year              0
District          0
Code              0
Location          0
Robbery           0
Street_robbery    0
Injury            0
Agg_assault       0
Threat            0
Theft             0
Car               0
From_car          0
Bike              0
Burglary          0
Fire              0
Arson             0
Damage            0
Graffiti          0
Drugs             0
Local             0
dtype: int64

In [5]:
df.describe()

,Year,Code,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
count,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.00000,1200.000000,1200.000000,1200.000000
mean,2015.500000,67022.786667,34.233333,18.744167,276.334167,68.750000,92.583333,1492.307500,42.505833,215.275000,197.706667,69.489167,15.990833,6.281667,281.58250,62.884167,97.859167,662.415833
std,2.292243,34813.745984,37.093447,22.171153,243.697780,71.113959,68.455264,1364.442501,28.710164,150.031343,178.704771,57.866415,12.681934,5.186014,203.01033,62.292705,174.802343,534.787220
min,2012.000000,10111.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,10.000000
25%,2013.750000,40101.000000,10.000000,5.000000,108.000000,22.000000,42.000000,639.750000,22.000000,109.000000,76.000000,28.000000,7.000000,3.000000,133.00000,20.000000,18.000000,269.250000
50%,2015.500000,70151.500000,22.000000,11.000000,204.500000,44.000000,75.000000,1100.000000,37.000000,186.000000,143.000000,59.000000,13.000000,5.000000,244.00000,45.000000,40.000000,553.500000
75%,2017.250000,90520.000000,42.000000,23.000000,361.000000,86.000000,124.000000,2019.750000,57.000000,291.000000,286.000000,96.000000,22.000000,9.000000,382.00000,87.000000,86.000000,870.250000
max,2019.000000,129900.000000,242.000000,169.000000,1966.000000,500.000000,420.000000,12479.000000,197.000000,876.000000,1288.000000,446.000000,74.000000,31.000000,1538.00000,530.000000,1949.000000,3813.000000

In [6]:
df['Location'].unique()

array(['Tiergarten Süd', 'Regierungsviertel', 'Alexanderplatz',
       'Brunnenstraße Süd', 'Moabit West', 'Moabit Ost', 'Osloer Straße',
       'Brunnenstraße Nord', 'Parkviertel', 'Wedding Zentrum',
       'Bezirk (Mi), nicht zuzuordnen', 'Südliche Friedrichstadt',
       'Tempelhofer Vorstadt', 'nördliche Luisenstadt',
       'südliche Luisenstadt', 'Karl-Marx-Allee-Nord',
       'Karl-Marx-Allee-Süd', 'Frankfurter Allee Nord',
       'Frankfurter Allee Süd FK', 'Bezirk (Fh-Kb), nicht zuzuordnen',
       'Buch', 'Blankenfelde/Niederschönhausen', 'Buchholz', 'Karow',
       'Blankenburg/Heinersdorf/Märchenland',
       'Schönholz/Wilhelmsruh/Rosenthal', 'Pankow Zentrum', 'Pankow Süd',
       'Weißensee', 'Weißensee Ost', 'Prenzlauer Berg Nordwest',
       'Prenzlauer Berg Nord', 'Helmholtzplatz', 'Prenzlauer Berg Ost',
       'Prenzlauer Berg Südwest', 'Prenzlauer Berg Süd',
       'Bezirk (Pk), nicht zuzuordnen', 'Charlottenburg-Nord',
       'Heerstrasse', 'Westend', 'Schloß Charlottenburg',
       'Mierendorffplatz', 'Otto-Suhr-Allee', 'Neue Kantstraße',
       'Kantstraße', 'Kurfürstendamm', 'Halensee', 'Grunewald',
       'Schmargendorf', 'Wiesbadener Straße', 'Düsseldorfer Straße',
       'Barstraße', 'Volkspark Wilmersdorf', 'Forst Grunewald',
       'Bezirk (Ch-Wi), nicht zuzuordnen', 'Hakenfelde',
       'Falkenhagener Feld', 'Spandau Mitte', 'Brunsbütteler Damm',
       'Heerstraße Nord', 'Wilhelmstadt', 'Haselhorst', 'Siemensstadt',
       'Gatow/Kladow', 'Bezirk (Sp), nicht zuzuordnen', 'Schloßstr.',
       'Albrechtstr.', 'Lankwitz', 'Ostpreußendamm', 'Teltower Damm',
       'Drakestr.', 'Zehlendorf Südwest', 'Zehlendorf Nord',
       'Bezirk (St-Zd), nicht zuzuordnen', 'Schöneberg-Nord',
       'Schöneberg-Süd', 'Friedenau', 'Tempelhof', 'Mariendorf',
       'Marienfelde', 'Lichtenrade', 'Bezirk (Th-Sb), nicht zuzuordnen',
       'Schillerpromenade', 'Neuköllner Mitte/Zentrum', 'Reuterstraße',
       'Rixdorf', 'Köllnische Heide', 'Britz', 'Buckow', 'Gropiusstadt',
       'Buckow Nord', 'Rudow', 'Bezirk (Nk), nicht zuzuordnen',
       'Alt-Treptow', 'Plänterwald', 'Baumschulenweg', 'Johannisthal',
       'Oberschöneweide', 'Niederschöneweide', 'Adlershof',
       'Köllnische Vorstadt/Spindlersfeld', 'Altglienicke', 'Bohnsdorf',
       'Grünau', 'Schmöckwitz/Karolinenhof/Rauchfangswerder',
       'Köpenick-Süd', 'Allende-Viertel', 'Altstadt-Kietz', 'Müggelheim',
       'Friedrichshagen', 'Rahnsdorf/Hessenwinkel', 'Dammvorstadt',
       'Köpenick-Nord', 'Bezirk (Tp-Kp), nicht zuzuordnen',
       'Marzahn-Nord', 'Marzahn-Mitte', 'Marzahn-Süd', 'Hellersdorf-Nord',
       'Hellersdorf-Ost', 'Hellersdorf-Süd', 'Biesdorf', 'Kaulsdorf',
       'Mahlsdorf', 'Bezirk (Mz-Hd), nicht zuzuordnen',
       'Malchow, Wartenberg und Falkenberg', 'Neu-Hohenschönhausen Nord',
       'Neu-Hohenschönhausen Süd', 'Alt-Hohenschönhausen Nord',
       'Alt-Hohenschönhausen Süd', 'Fennpfuhl', 'Alt-Lichtenberg',
       'Frankfurter Allee Süd', 'Neu Lichtenberg', 'Friedrichsfelde Nord',
       'Friedrichsfelde Süd', 'Rummelsburger Bucht', 'Karlshorst',
       'Bezirk (Lb), nicht zuzuordnen', 'Ost 1 - Reginhardstr.',
       'Ost 2 - Alt-Reinickendorf', 'West 1 - Tegel-Süd/Flughafensee',
       'West 4 - Auguste-Viktoria-Allee', 'West 5 - Tegel/Tegeler Forst',
       'West 2 - Heiligensee/Konradshöhe', 'Nord 1 - Frohnau/Hermsdorf',
       'Nord 2 - Waidmannslust/Wittenau/Lübars',
       'MV 1 - Märkisches Viertel', 'MV 2 - Rollbergsiedlung',
       'West 3 - Borsigwalde/Freie Scholle',
       'Bezirk (Rd), nicht zuzuordnen'], dtype=object)

In [7]:
df['District'].unique()

array(['Mitte', 'Friedrichshain-Kreuzberg', 'Pankow',
       'Charlottenburg-Wilmersdorf', 'Spandau', 'Steglitz-Zehlendorf',
       'Tempelhof-Schöneberg', 'Neukölln', 'Treptow-Köpenick',
       'Marzahn-Hellersdorf', 'Lichtenberg', 'Reinickendorf'],
      dtype=object)

In [8]:
df['Location'].nunique()

150

In [9]:
df['District'].nunique()

12

In [10]:
# Check missing values
print(df.isnull().sum())

Year              0
District          0
Code              0
Location          0
Robbery           0
Street_robbery    0
Injury            0
Agg_assault       0
Threat            0
Theft             0
Car               0
From_car          0
Bike              0
Burglary          0
Fire              0
Arson             0
Damage            0
Graffiti          0
Drugs             0
Local             0
dtype: int64

In [11]:
df_cleaned = df.copy()
for col in ['District', 'Location']:
    df[col] = df[col].astype(str).str.strip().str.title()

In [12]:
# clean string columns
str_cols = ['Location']
for col in str_cols:
    if col in df.columns:
        df_cleaned[col] = df_cleaned[col].astype(str).str.strip()
        df_cleaned[col] = df_cleaned[col].str.replace(r'\s+', ' ', regex=True)

In [13]:

#Remove special characters
df_cleaned['Location'] = df_cleaned['Location'].str.replace('/', ',')
df_cleaned = df_cleaned.assign(Location=df_cleaned['Location'].str.split(',')).explode('Location')
df_cleaned['Location'] = df_cleaned['Location'].str.strip()

In [14]:
df_cleaned.columns

Index(['Year', 'District', 'Code', 'Location', 'Robbery', 'Street_robbery',
       'Injury', 'Agg_assault', 'Threat', 'Theft', 'Car', 'From_car', 'Bike',
       'Burglary', 'Fire', 'Arson', 'Damage', 'Graffiti', 'Drugs', 'Local'],
      dtype='object')

In [15]:

#Remove special characters
df['Location'] = df['Location'].str.replace('/', ',')
df = df.assign(Location=df['Location'].str.split(',')).explode('Location')
df['Location'] = df['Location'].str.strip()

# 1. remove noise labels
df['Location'] = df['Location'].replace(r'Bezirk.*Nicht Zuzuordnen', None, regex=True)

# 2. remove street names
df = df[~df['Location'].str.contains(r'\bstr\.', case=False, na=False)]

# 3. normalize direction suffixes
direction_map = {
    r'\bNord\b': 'North',
    r'\bSüd\b': 'South',
    r'\bOst\b': 'East',
    r'\bWest\b': 'West',
    r'\bZentrum\b': 'Central',
    r'\bMitte\b': 'Central'
}
for pattern, replacement in direction_map.items():
    df['Location'] = df['Location'].str.replace(pattern, replacement, regex=True)

# 4. normalize compound directions
compound_map = {
    r'Nordwest': 'Northwest',
    r'Nordnet': 'Northeast',
    r'Südwest': 'Southwest',
    r'Südost': 'Southeast'
}
for pattern, replacement in compound_map.items():
    df['Location'] = df['Location'].str.replace(pattern, replacement, regex=True)

# 5. standardize formatting
df['Location'] = df['Location'].str.strip().str.title()

In [15]:
df.columns

Index(['Year', 'District', 'Code', 'Location', 'Robbery', 'Street_robbery',
       'Injury', 'Agg_assault', 'Threat', 'Theft', 'Car', 'From_car', 'Bike',
       'Burglary', 'Fire', 'Arson', 'Damage', 'Graffiti', 'Drugs', 'Local'],
      dtype='object')

In [16]:
df_cleaned['Location'].unique()

array(['Tiergarten Süd', 'Regierungsviertel', 'Alexanderplatz',
       'Brunnenstraße Süd', 'Moabit West', 'Moabit Ost', 'Osloer Straße',
       'Brunnenstraße Nord', 'Parkviertel', 'Wedding Zentrum',
       'Bezirk (Mi)', 'nicht zuzuordnen', 'Südliche Friedrichstadt',
       'Tempelhofer Vorstadt', 'nördliche Luisenstadt',
       'südliche Luisenstadt', 'Karl-Marx-Allee-Nord',
       'Karl-Marx-Allee-Süd', 'Frankfurter Allee Nord',
       'Frankfurter Allee Süd FK', 'Bezirk (Fh-Kb)', 'Buch',
       'Blankenfelde', 'Niederschönhausen', 'Buchholz', 'Karow',
       'Blankenburg', 'Heinersdorf', 'Märchenland', 'Schönholz',
       'Wilhelmsruh', 'Rosenthal', 'Pankow Zentrum', 'Pankow Süd',
       'Weißensee', 'Weißensee Ost', 'Prenzlauer Berg Nordwest',
       'Prenzlauer Berg Nord', 'Helmholtzplatz', 'Prenzlauer Berg Ost',
       'Prenzlauer Berg Südwest', 'Prenzlauer Berg Süd', 'Bezirk (Pk)',
       'Charlottenburg-Nord', 'Heerstrasse', 'Westend',
       'Schloß Charlottenburg', 'Mierendorffplatz', 'Otto-Suhr-Allee',
       'Neue Kantstraße', 'Kantstraße', 'Kurfürstendamm', 'Halensee',
       'Grunewald', 'Schmargendorf', 'Wiesbadener Straße',
       'Düsseldorfer Straße', 'Barstraße', 'Volkspark Wilmersdorf',
       'Forst Grunewald', 'Bezirk (Ch-Wi)', 'Hakenfelde',
       'Falkenhagener Feld', 'Spandau Mitte', 'Brunsbütteler Damm',
       'Heerstraße Nord', 'Wilhelmstadt', 'Haselhorst', 'Siemensstadt',
       'Gatow', 'Kladow', 'Bezirk (Sp)', 'Schloßstr.', 'Albrechtstr.',
       'Lankwitz', 'Ostpreußendamm', 'Teltower Damm', 'Drakestr.',
       'Zehlendorf Südwest', 'Zehlendorf Nord', 'Bezirk (St-Zd)',
       'Schöneberg-Nord', 'Schöneberg-Süd', 'Friedenau', 'Tempelhof',
       'Mariendorf', 'Marienfelde', 'Lichtenrade', 'Bezirk (Th-Sb)',
       'Schillerpromenade', 'Neuköllner Mitte', 'Zentrum', 'Reuterstraße',
       'Rixdorf', 'Köllnische Heide', 'Britz', 'Buckow', 'Gropiusstadt',
       'Buckow Nord', 'Rudow', 'Bezirk (Nk)', 'Alt-Treptow',
       'Plänterwald', 'Baumschulenweg', 'Johannisthal', 'Oberschöneweide',
       'Niederschöneweide', 'Adlershof', 'Köllnische Vorstadt',
       'Spindlersfeld', 'Altglienicke', 'Bohnsdorf', 'Grünau',
       'Schmöckwitz', 'Karolinenhof', 'Rauchfangswerder', 'Köpenick-Süd',
       'Allende-Viertel', 'Altstadt-Kietz', 'Müggelheim',
       'Friedrichshagen', 'Rahnsdorf', 'Hessenwinkel', 'Dammvorstadt',
       'Köpenick-Nord', 'Bezirk (Tp-Kp)', 'Marzahn-Nord', 'Marzahn-Mitte',
       'Marzahn-Süd', 'Hellersdorf-Nord', 'Hellersdorf-Ost',
       'Hellersdorf-Süd', 'Biesdorf', 'Kaulsdorf', 'Mahlsdorf',
       'Bezirk (Mz-Hd)', 'Malchow', 'Wartenberg und Falkenberg',
       'Neu-Hohenschönhausen Nord', 'Neu-Hohenschönhausen Süd',
       'Alt-Hohenschönhausen Nord', 'Alt-Hohenschönhausen Süd',
       'Fennpfuhl', 'Alt-Lichtenberg', 'Frankfurter Allee Süd',
       'Neu Lichtenberg', 'Friedrichsfelde Nord', 'Friedrichsfelde Süd',
       'Rummelsburger Bucht', 'Karlshorst', 'Bezirk (Lb)',
       'Ost 1 - Reginhardstr.', 'Ost 2 - Alt-Reinickendorf',
       'West 1 - Tegel-Süd', 'Flughafensee',
       'West 4 - Auguste-Viktoria-Allee', 'West 5 - Tegel',
       'Tegeler Forst', 'West 2 - Heiligensee', 'Konradshöhe',
       'Nord 1 - Frohnau', 'Hermsdorf', 'Nord 2 - Waidmannslust',
       'Wittenau', 'Lübars', 'MV 1 - Märkisches Viertel',
       'MV 2 - Rollbergsiedlung', 'West 3 - Borsigwalde', 'Freie Scholle',
       'Bezirk (Rd)'], dtype=object)

In [16]:
df_cleaned = df_cleaned[~df_cleaned["Location"].str.contains("Nicht Zuzuordnen")]

In [17]:
df_cleaned = df.drop_duplicates()

In [18]:
df_cleaned.to_csv("C:\\Users\\DSGEDSGE-ELEC\\Documents\\ironhack\\week4\\Day1\\first_project\\data\\clean\\berlin_crimes_cleaned.csv", index=False, encoding="utf-8")

#df.to_csv("\\data\\clean\\berlin_crimes_cleaned.csv", index=False, encoding="utf-8")
print("CSV saved as UTF-8 at: berlin_crimes_cleaned.csv")

CSV saved as UTF-8 at: berlin_crimes_cleaned.csv

In [ ]:
df

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,10111,Tiergarten South,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,10114,Brunnenstraße South,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1196,2019,Reinickendorf,123021,Mv 1 - Märkisches Viertel,42,22,491,123,187,1100,51,224,76,40,39,19,286,11,73,986
1197,2019,Reinickendorf,123022,Mv 2 - Rollbergsiedlung,6,4,84,19,34,293,13,36,18,34,5,2,156,56,21,212
1198,2019,Reinickendorf,123043,West 3 - Borsigwalde,8,4,95,18,43,492,21,96,69,38,6,1,79,8,31,218
1198,2019,Reinickendorf,123043,Freie Scholle,8,4,95,18,43,492,21,96,69,38,6,1,79,8,31,218
1199,2019,Reinickendorf,129900,Bezirk (Rd),3,2,14,7,4,59,0,7,15,0,1,0,7,3,9,21

In [23]:
df.columns = df.columns.str.lower()

In [24]:
df

,year,district,code,location,robbery,street_robbery,injury,agg_assault,threat,theft,car,from_car,bike,burglary,fire,arson,damage,graffiti,drugs,local
0,2012,Mitte,10111,Tiergarten South,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,10114,Brunnenstraße South,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1196,2019,Reinickendorf,123021,Mv 1 - Märkisches Viertel,42,22,491,123,187,1100,51,224,76,40,39,19,286,11,73,986
1197,2019,Reinickendorf,123022,Mv 2 - Rollbergsiedlung,6,4,84,19,34,293,13,36,18,34,5,2,156,56,21,212
1198,2019,Reinickendorf,123043,West 3 - Borsigwalde,8,4,95,18,43,492,21,96,69,38,6,1,79,8,31,218
1198,2019,Reinickendorf,123043,Freie Scholle,8,4,95,18,43,492,21,96,69,38,6,1,79,8,31,218
1199,2019,Reinickendorf,129900,Bezirk (Rd),3,2,14,7,4,59,0,7,15,0,1,0,7,3,9,21

In [30]:
def clean_german_string_final(series):
    """
    Standardizes location names by converting to lowercase first, 
    then handling umlauts, hyphens, and spaces.
    """

    cleaned_string = series.astype(str)
    cleaned_string = cleaned_string.str.lower()
    cleaned_string = cleaned_string.str.replace('ä', 'ae', regex=False)
    cleaned_string = cleaned_string.str.replace('ö', 'oe', regex=False)
    cleaned_string = cleaned_string.str.replace('ü', 'ue', regex=False)
    cleaned_string = cleaned_string.str.replace('ß', 'ss', regex=False)
    cleaned_string = cleaned_string.str.replace(' ', '_', regex=False)
    
    return cleaned_string


df['location'] = clean_german_string_final(df['location'])
df['district'] = clean_german_string_final(df['district'])

In [29]:
df.head(100)

,year,district,code,location,robbery,street_robbery,injury,agg_assault,threat,theft,car,from_car,bike,burglary,fire,arson,damage,graffiti,drugs,local
0,2012,mitte,10111,tiergarten_south,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,mitte,10112,regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,mitte,10113,alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,mitte,10114,brunnenstrasse_south,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,mitte,10221,moabit_west,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,2012,neukoelln,80207,buckow,26,7,206,58,107,634,24,225,45,62,11,3,281,63,14,499
89,2012,neukoelln,80308,gropiusstadt,52,30,350,72,131,1942,25,195,140,67,13,1,525,79,32,1070
90,2012,neukoelln,80409,buckow_north,14,3,65,11,34,409,11,73,12,46,6,1,64,3,6,176
91,2012,neukoelln,80410,rudow,40,25,206,50,90,1256,58,374,117,181,15,4,405,65,23,543
92,2012,neukoelln,89900,bezirk_(nk),2,3,56,23,19,210,2,21,3,0,1,1,58,36,3,100

In [28]:
df['district'].unique()

array(['mitte', 'friedrichshain-kreuzberg', 'pankow',
       'charlottenburg-wilmersdorf', 'spandau', 'steglitz-zehlendorf',
       'tempelhof-schoeneberg', 'neukoelln', 'treptow-koepenick',
       'marzahn-hellersdorf', 'lichtenberg', 'reinickendorf'],
      dtype=object)

In [31]:
df['location'].unique()

array(['tiergarten_south', 'regierungsviertel', 'alexanderplatz',
       'brunnenstrasse_south', 'moabit_west', 'moabit_east',
       'osloer_strasse', 'brunnenstrasse_north', 'parkviertel',
       'wedding_central', 'bezirk_(mi)', 'suedliche_friedrichstadt',
       'tempelhofer_vorstadt', 'noerdliche_luisenstadt',
       'suedliche_luisenstadt', 'karl-marx-allee-north',
       'karl-marx-allee-south', 'frankfurter_allee_north',
       'frankfurter_allee_south_fk', 'bezirk_(fh-kb)', 'buch',
       'blankenfelde', 'niederschoenhausen', 'buchholz', 'karow',
       'blankenburg', 'heinersdorf', 'maerchenland', 'schoenholz',
       'wilhelmsruh', 'rosenthal', 'pankow_central', 'pankow_south',
       'weissensee', 'weissensee_east', 'prenzlauer_berg_northwest',
       'prenzlauer_berg_north', 'helmholtzplatz', 'prenzlauer_berg_east',
       'prenzlauer_berg_southwest', 'prenzlauer_berg_south',
       'bezirk_(pk)', 'charlottenburg-north', 'heerstrasse', 'westend',
       'schloss_charlottenburg', 'mierendorffplatz', 'otto-suhr-allee',
       'neue_kantstrasse', 'kantstrasse', 'kurfuerstendamm', 'halensee',
       'grunewald', 'schmargendorf', 'wiesbadener_strasse',
       'duesseldorfer_strasse', 'barstrasse', 'volkspark_wilmersdorf',
       'forst_grunewald', 'bezirk_(ch-wi)', 'hakenfelde',
       'falkenhagener_feld', 'spandau_central', 'brunsbuetteler_damm',
       'heerstrasse_north', 'wilhelmstadt', 'haselhorst', 'siemensstadt',
       'gatow', 'kladow', 'bezirk_(sp)', 'schlossstr.', 'albrechtstr.',
       'lankwitz', 'ostpreussendamm', 'teltower_damm', 'drakestr.',
       'zehlendorf_southwest', 'zehlendorf_north', 'bezirk_(st-zd)',
       'schoeneberg-north', 'schoeneberg-south', 'friedenau', 'tempelhof',
       'mariendorf', 'marienfelde', 'lichtenrade', 'bezirk_(th-sb)',
       'schillerpromenade', 'neukoellner_central', 'central',
       'reuterstrasse', 'rixdorf', 'koellnische_heide', 'britz', 'buckow',
       'gropiusstadt', 'buckow_north', 'rudow', 'bezirk_(nk)',
       'alt-treptow', 'plaenterwald', 'baumschulenweg', 'johannisthal',
       'oberschoeneweide', 'niederschoeneweide', 'adlershof',
       'koellnische_vorstadt', 'spindlersfeld', 'altglienicke',
       'bohnsdorf', 'gruenau', 'schmoeckwitz', 'karolinenhof',
       'rauchfangswerder', 'koepenick-south', 'allende-viertel',
       'altstadt-kietz', 'mueggelheim', 'friedrichshagen', 'rahnsdorf',
       'hessenwinkel', 'dammvorstadt', 'koepenick-north',
       'bezirk_(tp-kp)', 'marzahn-north', 'marzahn-central',
       'marzahn-south', 'hellersdorf-north', 'hellersdorf-east',
       'hellersdorf-south', 'biesdorf', 'kaulsdorf', 'mahlsdorf',
       'bezirk_(mz-hd)', 'malchow', 'wartenberg_und_falkenberg',
       'neu-hohenschoenhausen_north', 'neu-hohenschoenhausen_south',
       'alt-hohenschoenhausen_north', 'alt-hohenschoenhausen_south',
       'fennpfuhl', 'alt-lichtenberg', 'frankfurter_allee_south',
       'neu_lichtenberg', 'friedrichsfelde_north',
       'friedrichsfelde_south', 'rummelsburger_bucht', 'karlshorst',
       'bezirk_(lb)', 'east_1_-_reginhardstr.',
       'east_2_-_alt-reinickendorf', 'west_1_-_tegel-south',
       'flughafensee', 'west_4_-_auguste-viktoria-allee',
       'west_5_-_tegel', 'tegeler_forst', 'west_2_-_heiligensee',
       'konradshoehe', 'north_1_-_frohnau', 'hermsdorf',
       'north_2_-_waidmannslust', 'wittenau', 'luebars',
       'mv_1_-_maerkisches_viertel', 'mv_2_-_rollbergsiedlung',
       'west_3_-_borsigwalde', 'freie_scholle', 'bezirk_(rd)'],
      dtype=object)

In [33]:
new_df_name = 'crime_berlin_clean_2.csv'

df.to_csv(new_df_name, index=False, encoding='utf-8')

In [ ]:
df.head()

In [34]:
# New locations table

location_cols = ['district', 'code', 'location']


df_location = df[location_cols]

In [35]:
df_location

           district    code                    location
0             mitte   10111            tiergarten_south
1             mitte   10112           regierungsviertel
2             mitte   10113              alexanderplatz
3             mitte   10114        brunnenstrasse_south
4             mitte   10221                 moabit_west
...             ...     ...                         ...
1196  reinickendorf  123021  mv_1_-_maerkisches_viertel
1197  reinickendorf  123022     mv_2_-_rollbergsiedlung
1198  reinickendorf  123043        west_3_-_borsigwalde
1198  reinickendorf  123043               freie_scholle
1199  reinickendorf  129900                 bezirk_(rd)

[1352 rows x 3 columns]

In [37]:
location_table = 'location_bridge_table.csv'
df_location.to_csv(location_table, index=False, encoding='utf-8')